body {  
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  font-family: Calibri, Helvetica, sans-serif;  
}  

table, td, th, tr {
  border: 1px solid rgb(147, 111, 213);
  border-top-width: 1px;
  border-top-style: solid; /* double, dashed, dotted... */
  border-top-color: #ccc;
}

.content {
    margin: auto;
  }

.container{  
  text-align: center;  
  width: 300px;  
  height: 200px;  
  }  

  #btn{  
  font-size: 25px;  
  }  