{% extends 'base.html' %}

{% block head %}

<title>Mark's Quiz!</title>

{% endblock %}

{% block body %}
<div>
    
<h1>Welcome to Mark's astoundingly terrific quiz!</h1>

<h2>Here are your {{num}} questions:</h2>

</div>

<div>
<form action="/results" method="POST">
    <ol>
        {% for item in data %}
            <li>{{item.question}}</li><br>
            {% for option in item.options %}
            <input type="radio" id="{{option}}" name = "option" value="{{option}}">{{option}}<br><br>
            {% endfor %}
        {% endfor %}
    </ol>

    <input type="name" placeholder="Please enter name" name="name" required><br><br>
    
    <input type="submit" value="Take me to my results!"/>
</form>
</div>
{% endblock %}
