{% extends 'base.html' %}

{% block head %}

<title>Mark's Quiz</title>

{% endblock %}

{% block body %}
<div class="container">
  
<h1>Welcome to Mark's Quiz</h1>
<h2>You have {{num_questions}} questions:</h2>
</div>

<div>
<form action="/results" class="container" method="POST">
    <ol>
        {% for item in selected_quiz %}
            <li>{{item.question}}</li><br>
            {% for option in item.options %}
            <input type="radio" id="{{option}}" name = "{{item.q_id}}" value="{{option}}" required>{{option}}<br><br>
            {% endfor %}
        {% endfor %}
    </ol>

    <input type="name" id="name" name="name" placeholder="Please enter name"  required><br><br>
    
    <input type="submit" value="Take me to my results!"/>
</form>
</div>
{% endblock %}
